@import "flatpickr/dist/flatpickr.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.lesson-calendar {
    width: 1000px;
}
/* ドットナビゲーションのスタイル */
.slick-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }
  
  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
  }
  
  .slick-dots li button {
    display: block;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background-color: #ccc;
    text-indent: -9999px;
    cursor: pointer;
  }
  
  .slick-dots li button:hover,
  .slick-dots li button:focus {
    background-color: #555;
  }
  